* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
}

.container {
    display: flex;
}

.card {
    height: 500px;
    width: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
img {
    height: 500px;
    width: 400px;   
    transition: 0.5s;
}

.intro {
    height: 20px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 160px;
    background-color: rgb(27, 27, 27, 0.5);
    color: white;
    transition: 0.5s;
}

h1 {
    margin: 10px;
    font-size: 40px;
}

p {
    margin: 20px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 260px;
    bottom: 105px;
    background: black;
    opacity: 0.6
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    transform: scale(1.1) rotate(-3deg);
}
